html,
body
  margin 0
  padding 0
  width 100%
  height 100%
body
  background-image url('../img/bg.jpg')
  background-size cover
  background-position center center
  font-size 14px
  color #4d4d4d
  font-weight 300
  font-smoothing antialiased